.avat-notif {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px rgba(0,0,0,0.25);
  border: transparent;
  position: absolute;
  margin: 0px;
  object-fit: cover;
  object-position: 0px -15px;
}

.text-notif {
  height: 78vh;
  background-color: #46B4BF;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 105px auto 40px auto;
  border-radius: 15px;
  justify-content: flex-end;
  color: white;
  padding: 0px 50px 0px 50px;
}

.text h2 {
  font-size: 24px;
}

#myorderh2 {
  color: #46B4BF;
  margin-top: 71px;
  margin-left: 25px;
}

.contain {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}

hr {
  border: 1px solid white;
  width: 60%;
  height: 2px;
}

.avatar-bordered-avat {
  width: 70px;
  radius: 50px;

}
