#myarchivesh2 {
  color: #F05454;
  margin-top: 71px;
  margin-left: 25px;
  padding-top: 18px;
}

.archive {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 289px;
  height: 41px;
  background-color: #F05454;
  border-radius: 5px;
  color: #30475E;
  margin: 15px auto 15px auto
}

.black-back {
  background-color: #222831;
  min-height: 90vh;
}