.banneruser-pay-conf {
  background-color: #0B3954;
  background-image: url('easyorder-logo.png');
  background-size: 255px 71px;
  background-repeat: no-repeat;
  background-position: center;
  height: 29vh;
}

.ctn-show-pay-conf {
  padding-top: 20%;
  color: #FFFFFF;
}

#grey {
  color: lightgray;
}

.ctn-show-infos-pay-conf {
  color: #0B3954;
  margin-top: -40%;
  background-color: #F9F9F9;
  height: 85vh;
  border-radius: 15px 15px 0px 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 26%;
}

.ctn-show-infos-pay-conf h4 {
  display: flex;
  justify-content: center;
  padding-top: 6%;
}

.ctn-show-infos-pay-conf hr {
  color: #FFFFFF;
  width: 80%;
}

.ctn-show-list-pay-conf {
  display: flex;
  flex-direction: column;
}

.ctn-show-items-pay-conf {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #0B3954;
  padding-top: 15px;
}

.ctn-show-list-pay-conf i {
  color: #FF6663;
  margin-top: 10%;
}

.show-item-name-pay-conf {
  flex-grow: 1;
  margin-left: 1px;
}

.total-pay-conf {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-show-end-page-pay-conf {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.btn-dark-blue-show-pay-conf {
  color: #F9F9F9;
  background: #0B3954;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 20px;
  width: 90%;
}

.btn-dark-blue-show-pay-conf:active {
  text-decoration: none;
  color: #FF6663;
  background: #0B3954;
}
