.ctn-show-pay {
  padding-top: 10%;
  color: #FFFFFF;
}

#grey {
  color: lightgray;
}

.ctn-show-infos-pay {
  color: #0B3954;
  margin-top: 10%;
  background-color: white;
  height: 65vh;
  border-radius: 15px 15px 0px 0px;
  padding-left: 25px;
  padding-right: 25px;
  border-style: solid;
  border-color: #FF6663;
  border-bottom-color: white;
}

.ctn-show-infos-pay h4 {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.ctn-show-infos-pay hr {
  color: #FFFFFF;
  width: 80%;
}

.ctn-show-list-pay {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
}

.ctn-show-items-pay {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  padding-top: 15px;
}

.ctn-show-list-pay i {
  color: #FF6663;
  font-size: 25px;
}

.show-item-name-pay {
  flex-grow: 1;
  margin-left: 25px;
}

.btn-show-end-page-pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
}

.btn-dark-blue-show-pay {
  color: #F9F9F9;
  background: #0B3954;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 100%;
}

.btn-dark-blue-show-pay:hover {
  opacity: 0.6;
}

.img-payment {
  width: 150px;
  padding-left: 12px;
}

.info-pay {
  border-style: solid;
  border-color: #FF6663;
  border-radius: 8px;
  padding: 7px 7px;
  display: flex;
  align-items: center;
  border-width: thin;
}
