.ctn-edit {
  color: #0B3954;
  margin: 0 auto;
  padding: 26% 15% 0% 15%;
}

.ctn-edit a {
  font-size: 11px;
  color: #46B4BF;
}

.ctn-edit h3 {
  padding-bottom: 4%;
}

.ctn-delete {
  display: flex;
  flex-direction: column;
}

.btn-end-page-edit-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-dark-blue-edit {
  color: #F9F9F9;
  background: #0B3954;
  text-decoration: none;
  text-align: center;
  padding: 5px 24px;
  border-radius: 50px;
  font-size: 20px;
  height: 49px;
  width: 267px;
  margin-bottom: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dark-blue-edit:active {
  text-decoration: none;
  color: #FF6663;
  background: #0B3954;
}

.avatar-bordered-edit {
  width: 100px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px rgba(0,0,0,0.25);
  border: transparent;
  margin-bottom: 4%;
}


.avatar-img-edit {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
