.background {
  background-image: url('homebackground.png');
  height: 100vh;
  background-size: cover;
}

.img1 {
  width: 290px;
  margin-top: 4%;
}

.img2 {
  width: 120px;
  padding-top: 20%;
}

// .images {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   height: 100vh;
//   text-align: center;
//   margin-top: 8%;
// }

.images {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.banner-lewagon {
  width: 100%;
  height: 44vh;
}

.banner-lewagon h3 {
  color: #C61A24;
}

#top {
  margin-top: 30%;
}

.image2 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.image3 {
  display: flex;
  justify-content: center;
  background-image: url(menubuttonback.png);
  background-size: contain;
  margin: 0 auto;
  width: 50%;
  height: 30%;
  margin-top: 25%;
  filter: drop-shadow(3px 3px 4px #0B3954);
  background-repeat: no-repeat;
} 
