.ctn-menu {
  color: #0B3954;
  margin: 0 auto;
  padding: 0% 0% 0% 5%;
  margin-top: 25%;
}

.ctn-menu h3 {
  padding-bottom: 4%;
  padding-top: 3%;
}

.items-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.link-to {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
}

.item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  padding-bottom: 7%;
}

.item-inner {
  background-color: #0B3954;
  margin-right: 16px;
  border-radius: 8px;
  box-shadow: 3px 4px 4px lightgrey;
}

.item-image {
  border-radius: 8px 8px 0px 0px;
}

.item-wrapper p {
  color: #F9F9F9;
  padding-left: 4%;
}

#wrapper-name {
  font-weight: bold;
}

#wrapper-price {
  display: flex;
  justify-items: flex-end;

}

.end-page-with-btn {
  display: flex;
  margin-bottom: 7%;
  padding: 0% 25%;
}

.btn-dark-blue-index {
  color: #F9F9F9;
  background: #0B3954;
  text-align: center;
  padding: 5px 24px;
  border-radius: 50px;
  font-size: 20px;
  width: 100%;
}

.btn-dark-blue-index:active {
  text-decoration: none;
  color: #FF6663;
  background: #0B3954;
}

