
  <%# if user_signed_in? %>

              

    <%#= link_to <i class="far fa-shopping-cart"></i>, render "shared/cart" %>
    <%#= link_to "Test", "#", data: {toggle: 'modal', target:'exampleModal'} %>
  <%# end %>
<div class="fixed-top  bg-dark"></div>
<div class="fixed-top">
 <nav class="navbar navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <h1 id="nav-home">HOME</h1>
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModal">
      <i class="far fa-shopping-cart"></i>
    </button>

  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul>
        <li><%= link_to "Home", "#", class: "dropdown-item" %></li>
        <li><%= link_to "My orders", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Account", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Log out", "#", method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>
</div>
