<div class="modal fade" id="itemEditModal" tabindex="-1" aria-labelledby="itemEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont-item">
      <div id="itemEditModalBody" class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
