<div class="cards">
  <%= link_to my_orders_path(@order) do %>
    <div class="card card1">
      My orders
    </div>
  <% end %>
  <%= link_to edit_user_registration_path(@user) do %>
    <div class="card card2">
      Profile
    </div>
  <% end %>
  <%= link_to my_archives_path(@orders) do %>
    <div class="card card3">
      Archives
    </div>
  <% end %>
</div>
