<div class="black-back">
  <h2 id="myarchivesh2">My Archives</h2>
  <div class="archives">
    <% @orders.select{ |order| order.is_confirmed }.each do |order| %>
      <div class="archive">
        <%= order.created_at.strftime('%H:%M') %> | <%= round_price(order.calculate_price) %> CHF
        <%= link_to order_path(order), remote: true do %>
        <i class="fas fa-hand-point-up"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
