<h3 id="myorderh2">My Order</h3>

<div class="contain">
    <%= image_tag("colin.jpg", aspect_ratio: "1:1", quality: 100, width: 70, crop: "fill", radius: 50, class: "avatar-bordered avat-notif") %>
  <div class="text-notif">
    <h4>Alex</h4>
    <p>is preparing your order</p>
    <hr>
    <p>Please come to</p>
    <p>pick it up!</p>
    <hr>
    <h4>Your password for the order is:</h4>
    <p><%= @order.passcode %></p>
    <hr>
    <h4>Your order number is:</h4><p><%= 8200 + @order.id %></p>
  </div>
</div>
