<h3 id="myorderh2">My Order</h3>

<div class="contain">
    <%= image_tag("colin.jpg", aspect_ratio: "1:1", quality: 100, width: 70, crop: "fill", radius: 50, class: "avatar-bordered avat-notif") %>
  <div class="text-notif">
    <h4><strong>Colin</strong></h4>
    <p>is your barman</p>
    <hr>
    <h4>Please come to</h4>
    <h4>pick it up!</h4>
    <hr>
    <p>Your order password is:</p>
    <h4><%= @order.password %></h4>
    <hr>
    <p>Your order number is:</p><p><%= 8200 + @order.id %></p>
  </div>
</div>
