<br>
<br>
<br>
<br>
<br>
<div class="cards">
  <div class="card card1">
    <%= link_to "My order", "#" %>
  </div>
  <div class="card card2">
    <%= link_to "Profile", "#" %>
  </div>
  <div class="card card3">
    <%= link_to "Archives", "#" %>
  </div>
</div>