<head>
<script type="text/javascript">
  window.setTimeout(function() {
      window.location.href = "/orders/<%= @order.id %>/my_orders_notification";
  }, 5000);
</script>
</head>


<h2 id="myorderh2">My Order</h2>

<div class="contain">
  <%= image_tag "my_orders_img.jpg", class: "avatar-bordered avat", alt: "avatar-bordered" %>
  <div class="text">
    <h2><%= @order.id %></h2>
    <hr>
    <h2>A barman will take</h2>
    <h2>your order soon.</h2>
    <hr>
    <h2>Wait for your</h2>
    <h2>message notification.</h2>
  </div>
</div>
