<head>
<script type="text/javascript">
  window.setTimeout(function() {
      window.location.href = "/my_orders/<%= @order.id %>";
  }, 5000);
</script>
</head>

<h3 id="myorderh2">My Order</h3>

<div class="contain">
  <%= image_tag "my_orders_img.jpg", class: "avatar-bordered avat", alt: "avatar-bordered" %>
  <div class="text">
    <h4>Your order will be ready in approximately <%= (2..5).to_a.sample %> minutes.</h4>
    <hr>
    <h4>Thank you</h4>
    <h4>for your patience.</h4>
    <hr>
    <h4>Wait for your</h4>
    <h4>message notification.</h4>
  </div>
</div>
