<h2 id="myorderh2">My Order</h2>

<div class="contain">  
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered avat", alt: "avatar-bordered" %>
  <div class="text">
    <h2>Chloé</h2>
    <h2>prepares your order</h2>
    <span>----------------------</span>
    <h2>Please come to</h2>
    <h2>pick it up!</h2>
    <span>----------------------</span>
    <h2>Password:</h2>
    <h2>cactus</h2>
    <span>----------------------</span>
    <h2>Order id: 2743</h2>
  </div>
</div>

