<div class="banneruser">
</div>
<div class="ctn-show-pay">
  <div class="pay-process">
    <i class="fas fa-play"></i>
    <i class="fas fa-ellipsis-h"></i>
    <i class="fas fa-credit-card"></i>
    <i id="grey" class="fas fa-ellipsis-h"></i>
    <i id="grey" class="fas fa-check-circle"></i>
  </div>
  <div class="ctn-show-infos-pay">
    <h4>Select your payment method:</h4>
    <div class="ctn-show-list-pay">
      <div class="info-pay" id="paypal-info">
        <div class=" pay-select-box" id="paypal"></div>
        <%= image_tag("paypal-logo.png", class: 'img-payment') %>
      </div>
      <div class="info-pay" id="twint-info">
        <div class=" pay-select-box" id="twint"></div>
        <%= image_tag("twint-logo.png", class: 'img-payment') %>
      </div>
      <div class="info-pay" id="mastervisa-info">
        <div class=" pay-select-box" id="mastervisa"></div>
        <%= image_tag("mastervisa-logo.png", class: 'img-payment') %>
      </div>
    </div>
    <div class="btn-show-end-page-pay">
      <%= link_to "Confirmation", thanks_message_path, class: "btn-dark-blue-show-pay" %>
    </div>
  </div>
</div>
