<h2>Select your payment method:</h2>
<i class="far fa-play"></i> --> #FF6663
<i class="fas fa-credit-card"></i>
<i class="fas fa-check-circle"></i>
<% link_to "Back", :back %>
<% link_to "Back", :back %>
<% link_to "Back", :back %>
<% link_to "Back", :back %>