<div class="ctn-show">
  <h3>Please confirm your order:</h3>
  <table>
  <% @order.items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.item_price %></td>
    </tr>
    </table>
  <% end %>

  <% link_to "Pay now", "#" %>
  <% link_to "Back", "#" %>
  <% link_to "Cancel order", "#" %>
  <i class="far fa-play"></i>
  <i class="fas fa-credit-card"></i>
  <i class="fas fa-check-circle"></i>
  <i class="far fa-hand-point-up"></i>
</div>