<div class="banneruser">
</div>

<div class="message_and_button">
  <div class="message">
    <h2>Thank you for your purchase</h2>
    <h2>Your payment been accepted</h2>
    <h2>has been accepted</h2>
    <h2>Cheers!</h2>
  </div>
  <div class="btn-dark-blue"><%= link_to "Next", "orders_payment_confirmation_path" %></div>
</div>
