<div class="images">
  <%= link_to "/items" do %>
    <%= image_tag("btn-menu.png", class: "img1") %>
  <% end %>
  <%= link_to "#" do %>
    <%= image_tag("btn-games.png", class: "img2") %>
  <% end %>
</div>
