<div class="background">
  <div class="images">
    <div class="banner-lewagon">
      <h3 id="top">Welcome to bar</h3>
      <%= image_tag "le-wagon.png", class: "img1" %>
    </div>
  </div>
  <div class="image3">
    <%= link_to "/items" do %>
      <%= image_tag("menulogo.png", class: "img2") %>
    <% end %>
  </div>
</div>
