<div class="images">
  <div class="banner-lewagon">
    <h3 id="top">Welcome to</h3>
    <%= image_tag "le-wagon.png", class: "img1" %>
    <h3>bar</h3>
  </div>
</div>
<div class="image2">
  <%= link_to "/items" do %>
    <%= image_tag("btn-menu.png", class: "img2") %>
  <% end %>
</div>
