.container-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 25%;
  height: 50vh;
  justify-content: space-around;
  background-color: #46B4BF;
  border-radius: 8%
}

.container-modal h3 {
  color: #0B3954;
  padding-top: 50%;
  padding-bottom: 10%;
}

#img-price {
  display: flex;
  flex-direction: column;
}

.image-modal {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: 21%;
  top: 4%;
  border: 1px solid #0B3954;
  box-shadow: 3px 4px 4px rgba(0,0,0,0.25);

}

#minus-button {
  color: #FF6663;
  font-size: 25px;
  background-color: #0B3954;
}

#plus-button {
  color: #FF6663;
  font-size: 25px;
  background-color: #0B3954;
}

.name-item-modal {
  color: #0B3954;
  text-align: center;
}