.wizards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  // grid-template-rows: 1fr, 1fr;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .wizards-list {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .wizards-list {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .wizards-list {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .wizards-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .wizards-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#title-index {
  text-align: center;
  height: 100px;
  object-fit: cover;
  font-size: 50px;
}

.banner {
  background-image: asset-url('bannerhome.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 40vh;
  height: 80vh;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
