<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont-item">
      <div id="itemModalBody" class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
