<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-cont-item">
      <div class="modal-header-item">
        <h5 class="modal-title" id="itemModalLabel">Modal title</h5>
      </div>
      <div id="itemModalBody" class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
