.banneruser {
  background-color: #0B3954;
  background-image: url('easyorder-logo.png');
  background-size: 255px 71px;
  background-repeat: no-repeat;
  background-position: center;
  height: 29vh;
  border-radius: 0 0 0 50px;
  filter: drop-shadow(2px 2px 3px #0B3954);
}
