.btn-dark-blue {
  color: #F9F9F9;
  background: #0B3954;
  text-decoration: none;
  text-align: center;
  padding: 5px 24px;
  border-radius: 50px;
  font-size: 20px;
  width: 100%;
}

.btn-dark-blue-index:active {
  text-decoration: none;
  color: #FF6663;
  background: #0B3954;
}
