  #nav-home {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  height: 51px;
  padding: 18px;
  background-color: #0B3954;
}

.fixed-top {
  height: 38px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #0B3954;
}

.navbar-collapse {
  position: fixed;
  padding-left: 15px;
  background-color: rgba(255,102,99,0.8);
  width: 260px;
  height: 350px;
  font-size: 36px;
  color: #30475E;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  left: 0;
  transition: left 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: left 500ms ease-in-out;
}

.navbar-toggler {
  background-color: white;
  height: 42px;
  border-radius: 100%;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  padding-top: 14px;
}

.my_navbar {
  justify-content: space-evenly;
}

.avatar-bordered {
  width: 70px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px rgba(0,0,0,0.25);
  margin-left: 3%;
  margin-top: 20px;
  border: transparent;
  margin-bottom: 4px;
}

.dropdown-item {
  padding-left: 4px;
  color: #0B3954;
}

.fa-facebook {
  padding: 7px;
}

.top-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.dropdown-frist-name {
  padding-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-decoration: none;
  font-size: 25px;
}
