.pay-process {
  display: flex;
  justify-content: center;
  color: #FF6663;
  font-size: 25px;
}

.pay-process i {
  padding: 15px 10px 0px 10px;
}

.pay-select-box {
  height: 24px;
  width: 24px;
  background-color: $white;
  border-radius: 50%;
  border: solid 2.5px $orange;
}
